body{
	
	background: #5dade2;
	

	margin-right: 5%;
	margin-left: 5%;
	/*
	background: -moz-linear-gradient(#5dade2 0%, #aed6f1, #5dade2);
	background: -webkit-linear-gradient(#5dade2 0%, #aed6f1, #5dade2);
	background: linear-gradient(#5dade2 0%, #aed6f1, #5dade2);
*/
	color: #ffffff;
}

hr{
	border-top: dotted 1px;
	border-bottom: dotted 1px;
	color: #ffffff;
}

h1 {
	color: #f7dc6f;
	font-size: 500%;
	text-transform: uppercase;
	text-align: center;
}

h2, h3, h4 {
	color: #f7dc6f;
}

a{
	color: #ffffff;
	text-decoration: none;
	background: #f7dc6f;
	padding: 3px;
	border-radius: 4px;
}

a:hover{
	box-shadow: 1px 2px 3px 4px;

}


.buy{
	position: relative;
	left: 90%;
	bottom: 35px;
	max-width: 90px;
	display: inline-block;

}


aside{
	display: inline-block;
	padding: 15px;
	position: relative;
	left: 10%;

}

section aside:last-child{
	max-width: 400px;
	bottom: 200px;
	line-height: ;
}

h3{
	font-size: 200%;
	text-transform: uppercase;
}

aside p{
	position: relative;
	top: 25px;
}

aside a{
	padding: 7px;
	font-size: 150%;
}

#bookPic{
	padding-bottom: 5%;
}


div img{
	border-radius: 45%;
}


.fQuote{
	max-width: 400px;
	position: relative;
	left: 30%;
}

.fQuote p:first-child{
	font-size: 200%;
	text-transform: uppercase;
	color: #f7dc6f;
}

.sQuote{
	max-width: 400px;
	position: relative;
	left: 30%;
	margin-bottom: 7%;
}

.sQuote P:first-child{
	font-size: 200%;
	text-transform: uppercase;
	color: #f7dc6f;
}


#author{
	display: inline-block;
	max-width: 400px;
	vertical-align: top;
	margin-left: 15%;
	margin-right: 10%;
}

#author h3{
	font-size: 400%;
}


#authorpic{
	display: inline-block;
}


div h4 {
	margin-top: 20%;
}

input {
	padding: 10px;
	
}














